<!-- Begin Schedule Section -->
<section id="schedule" class="schedule">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <!-- <h3>{{ site.teamBlockTitle }}</h3> -->
                <ul style="text-align: left; font-size:18px">
                    <li><a href="https://uoa-pgf.github.io/uoa_pgf_2024/">Postgraduate Forum 2024</a></li>
                    <li><a href="https://uoa-pgf.github.io/uoa_pgf_2023/">Postgraduate Forum 2023</a></li>
                </ul>
        </div>
    </div>
</section>
<!-- End Schedule Section -->
