<!-- Begin Team List-->
<section id="team" class="team">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
                <ul style="text-align: left; font-size:18px">
                    <li><b>Keynote talks:</b> 30 minutes (presentation) + 15 minutes (Q&A)</li>
                    <li><b>Invited PhD talks:</b> 15 minutes (presentation) + 5 minutes (Q&A)</li>
                    <li><b>Student's presentation:</b> 10 minutes for a short presentation</li>
                    <li>Note: preparation (5 minutes) and coffee break (10 minutes)</li>
                </ul>
        </div>
    </div>
</section>
<!-- End Team List -->
